---
import { SectionContainer } from 'src/components/react'
---

<SectionContainer
  className="bg-white py-10 text-stone-950 md:py-20 xl:py-40"
  containerClass="flex flex-col lg:flex-row items-center justify-center lg:justify-around 2xl:justify-between px-4 md:px-10"
>
  <div class="mb-20 h-full w-full max-w-lg lg:mb-0 xl:max-w-xl">
    <img src="/homepage/about_me_section_image.webp" alt="Hero Section Image" class="h-auto w-full" />
  </div>
  <div class="flex h-full w-full flex-col justify-end sm:max-w-sm xl:max-w-lg 2xl:max-w-2xl">
    <h2 class="mb-5 font-poppins text-4xl font-bold lg:mb-20 xl:text-5xl">About me</h2>
    <p class="text-lg xl:text-2xl">
      I found that despite the brain-friendly approach to presenting being rooted in serious science and being incomparably more effective
      than the &quot;old school&quot; one, over 90% of managers still present as I used to. <br /><br />They are just not aware that public
      speaking can be so much more powerful than what they are practicing. Consequently, they lack the speaking skills they need to lead.
    </p>
  </div>
</SectionContainer>
