---
import { SectionContainer } from 'src/components/react'
---

<SectionContainer fullWidth className="relative bg-slate-900 text-zinc-100">
  <img src="./hero-section-image.png" alt="Hero Section Image" class="z-10 w-full" />
  <div class="absolute z-20 h-full w-full">
    <div class="container mx-auto h-full">
      <div class="flex h-full max-w-2xl flex-col items-start justify-center">
        <h1 class="mb-10 font-poppins text-6xl font-extrabold uppercase">Persuade Ethically & Effectively</h1>
        <h4 class="mb-10 text-2xl font-semibold capitalize tracking-wide">
          We have turned the science into training & consultancy, so you can sell, convert and grow like Apple, Amazon and Google
        </h4>
        <a
          href="/contact"
          class="mb-10 rounded bg-amber-400 p-4 font-poppins font-bold text-stone-950 decoration-2 underline-offset-4 shadow transition-all duration-300 ease-in-out hover:underline"
          >Book a free call</a
        >
        <a href="/about" class="text-lg font-semibold underline transition-colors duration-300 ease-in-out hover:decoration-amber-400"
          >Find out about our services</a
        >
      </div>
    </div>
  </div>
</SectionContainer>
