---
import { ClientCarousel, SectionContainer } from 'src/components/react'
---

<SectionContainer className="overflow-hidden bg-stone-100 py-20 text-stone-950 xl:py-40" containerClass="flex flex-col items-center">
  <h2 class="mb-20 text-center font-poppins text-5xl font-bold xl:mb-40">My clients</h2>
  <ClientCarousel client:load />
</SectionContainer>
