---
import { SectionContainer } from 'src/components/react'
---

<SectionContainer
  className="bg-slate-900 px-5 pt-16 text-zinc-100 md:px-10 md:pt-20"
  containerClass="flex flex-row justify-center md:justify-between"
>
  <h2 class="font-poppins text-4xl font-bold md:text-5xl">How I can help you</h2>
</SectionContainer>
