---
import classNames from 'classnames'
import { SectionContainer, TestimonialBlock } from 'src/components/react'
import type { ServiceType } from 'src/types'

type Props = ServiceType

const { title, body, image, testimonial, orientation, variant } = Astro.props

const variantClasses = {
  dark: 'bg-slate-900 text-zinc-100',
  light: 'bg-zinc-100 text-slate-900',
}

const variantTestimonialClasses = {
  dark: 'border-zinc-100',
  light: 'border-slate-900',
}

const orientationClasses = {
  left: 'md:flex-row',
  right: 'md:flex-row-reverse',
}
const orientationTestimonalClasses = {
  left: 'self-start',
  right: 'self-end',
}
---

<SectionContainer className={classNames(variantClasses[variant], 'py-20 md:py-40')} containerClass="flex flex-col">
  <div class={classNames(orientationClasses[orientation], 'flex flex-col items-center md:mb-10 md:items-start md:justify-between')}>
    <div class="mb-20 flex max-w-sm md:mb-0 md:max-w-xl">
      <img src={image} alt={title} class="h-auto w-full" />
    </div>
    <div class="flex max-w-sm flex-col items-start md:max-w-2xl">
      <h2 class="mb-10 font-poppins text-4xl font-bold">{title}</h2>
      <p class="mb-10 text-lg md:text-2xl">{body}</p>
      <TestimonialBlock {...testimonial} className={classNames(variantTestimonialClasses[variant], 'mb-10 flex md:hidden')} />
      <a
        href="/contact"
        class="rounded bg-amber-400 p-4 font-poppins font-bold text-stone-950 decoration-2 underline-offset-2 shadow transition-all duration-300 ease-in-out hover:underline hover:underline-offset-4"
        >Contact me</a
      >
    </div>
  </div>
  <TestimonialBlock
    {...testimonial}
    className={classNames(variantTestimonialClasses[variant], orientationTestimonalClasses[orientation], 'hidden md:flex')}
  />
</SectionContainer>
