---
import { SectionContainer } from 'src/components/react'
---

<SectionContainer className="bg-slate-900 pt-5 text-zinc-100 md:pt-10" containerClass="flex flex-row justify-between">
  <div class="hidden max-w-lg flex-col md:flex">
    <img src="./welcome_about_image.png" alt="Hero Section Image" class="h-auto w-full" />
  </div>
  <div class="flex flex-col items-start justify-center md:max-w-xl">
    <h2 class="mb-10 text-3xl italic">“Welcome! I am happy to see you here. We will provide you with everything you need to succeed.”</h2>
    <div class="flex items-center justify-between self-stretch">
      <div class="flex flex-col">
        <h3 class="font-mediumsrc/components/homepage/WelcomeSection.astro mb-2 font-poppins text-3xl">Akos Gerold</h3>
        <h4 class="font-darker-grotesque text-xl font-medium">Lorem ipsum</h4>
      </div>
      <div class="flex flex-col md:flex-row">
        <div class="flex">
          <img src="./founding_member_badge.png" alt="Founding Member - Akos Gerold Certificate" class="h-auto w-full" />
        </div>
        <div class="ml-5 flex">
          <img
            src="./ethical_influence_practitioner.png"
            alt="Ethical Influence Practitioner - Akos Gerold Certificate"
            class="h-auto w-full"
          />
        </div>
      </div>
    </div>
  </div>
</SectionContainer>
