---
import { SectionContainer } from 'src/components/react'
import { CONTACT_EMAIL } from 'src/config'
---

<SectionContainer
  className="work-with-us-section bg-stone-100 py-10 text-stone-950 md:py-20 xl:py-40"
  containerClass="flex flex-col px-5 md:px-10"
>
  <div class="relative flex h-full w-full flex-col items-start sm:max-w-sm xl:max-w-lg 2xl:max-w-2xl">
    <h2 class="mb-10 font-poppins text-4xl font-bold xl:text-5xl">Work with us &amp; drive decisions when you present!</h2>
    <p class="mb-10 text-lg font-medium xl:text-2xl">
      Arrange an obligation-free 30-minute call today. We &rsquo;ll look at how you present and provide you with an honest appraisal of how
      you can influence decisions better.
    </p>
    <a
      href={`mailto:${CONTACT_EMAIL}`}
      class="rounded bg-amber-400 px-5 py-5 font-poppins text-xl font-bold text-stone-950 decoration-2 underline-offset-2 shadow transition-all duration-300 ease-in-out hover:underline hover:underline-offset-4 md:px-10 md:py-5 md:text-2xl"
      >Contact me</a
    >
  </div>
</SectionContainer>
