---
import type { ToolkitPortableTextList } from '@portabletext/toolkit'
const { children } = Astro.props.node
---

<ul class="checkmark-list">
  {
    children.map((child: ToolkitPortableTextList) => {
      if ('text' in child.children[0]!) {
        return <li>{child.children[0].text}</li>
      }
      return null
    })
  }
</ul>

<style>
  .checkmark-list {
    padding-left: 0;
    list-style-type: none;
  }
  .checkmark-list li {
    position: relative;
    padding-left: 1.375em;
  }
  .checkmark-list li::marker {
    display: none;
  }
  .checkmark-list li::-webkit-details-marker {
    display: none;
  }
  .checkmark-list li::before {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    content: '\2714';
    font-size: 0.75em;
    line-height: 1.4;
  }
</style>
