---
import type { ToolkitPortableTextList } from '@portabletext/toolkit'
const { children } = Astro.props.node
---

<ul class="checkmark-list">
  {
    children.map((child: ToolkitPortableTextList) => {
      if ('text' in child.children[0]!) {
        return <li>{child.children[0].text}</li>
      }
      return null
    })
  }
</ul>

<style>
  .checkmark-list {
    padding-left: 0.75em;
  }
  .checkmark-list li {
    padding-left: 0.625em;
    list-style-type: none;
  }

  .checkmark-list li::marker {
    content: '\2714';
    font-size: 0.75em;
    line-height: 1.4;
  }

  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .checkmark-list {
        padding-left: 0;
      }
      .checkmark-list li {
        position: relative;
        padding-left: 1.375em;
      }
      .checkmark-list li::before {
        position: absolute;
        top: 0.35em;
        left: 0;
        content: '\2714';
        font-size: 0.75em;
        line-height: 1.4;
      }
    }
  }
</style>
