:root {
  --scrollbar-width: 15px;
  --font-size: 16px;
}

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
  @apply bg-stone-100;
}

.lock-scroll {
  height: 100vh;
  padding-right: var(--scrollbar-width);
  overflow: hidden !important;
}

html {
  font-size: var(--font-size);
  font-family: 'Raleway', sans-serif;
}

body {
  position: relative;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';
}

.wrapper > main {
  grid-area: main;
  @apply flex flex-col;
}
.wrapper > header {
  grid-area: header;
}

.wrapper > footer {
  grid-area: footer;
}

.work-with-us-section {
  position: relative;
}

.work-with-us-section::before {
  @apply opacity-0 md:opacity-75 lg:opacity-100;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
  background-image: url('./work_with_us_section.webp');
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}
