:root {
  --scrollbar-width: 15px;
  --font-size: 16px;
  --work-with-me-image: url('/homepage/work_with_me_section.webp');
}

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
  @apply bg-stone-100;
}

.lock-scroll {
  height: 100vh;
  padding-right: var(--scrollbar-width);
  overflow: hidden !important;
}

html {
  font-size: var(--font-size);
  font-family: 'Raleway', sans-serif;
}

body {
  position: relative;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';
}

.wrapper > main {
  grid-area: main;
  @apply flex flex-col;
}
.wrapper > header {
  grid-area: header;
}

.wrapper > footer {
  grid-area: footer;
}

.work-with-me-section {
  position: relative;
}

.work-with-me-section::before {
  @apply opacity-0 md:opacity-75 lg:opacity-100;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
  background-image: var(--work-with-me-image);
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

.hero-gradient {
  @apply relative;
}

.hero-gradient::before {
  @apply absolute inset-0;
  z-index: 15;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 75%);
  content: '';
}

@media screen and (min-width: 768px) {
  .hero-gradient::before {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
  }
}
