---
import Logo from 'src/components/Logo.astro'
import Layout from 'src/layouts/Layout.astro'
---

<Layout title="404: Not Found" description="404 Page: Not Found" errorPage>
  <Logo class="py-12 text-5xl" />
  <p class="mb-4 font-mono text-2xl">
    <span class="text-secondary text-3xl font-black">404:</span> Page Not found
  </p>
</Layout>
