---
import Layout from 'src/layouts/Layout.astro'
---

<Layout title="%WEBSITE_TITLE% Astro + Sanity.io Template" description="Metadescription">
  <h1>Welcome to %WEBSITE_TITLE% Astro + Sanity.io + React Template</h1>
</Layout>
