---
import Layout from 'src/layouts/Layout.astro'
---

<Layout title="Akos Gerold Astro + Sanity.io Template" description="Metadescription">
  <h1>Welcome to Akos Gerold Astro + Sanity.io + React Template</h1>
</Layout>
