.testimonial-carousel-container {
  @apply flex w-screen flex-col overflow-hidden sm:w-full lg:max-w-3xl xl:max-w-6xl;
}

.testimonial-carousel {
  @apply grid;
  grid-template-columns: repeat(auto-fill, min(100vw, 40rem));
  grid-auto-rows: minmax(20rem, 1fr);
  min-height: 22.5rem;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(22.5rem, 1fr));
    grid-auto-rows: minmax(22.5rem, 1fr);
  }
}
