---
import type { HTMLAttributes } from 'astro/types'

type Props = Pick<HTMLAttributes<'a'>, 'href' | 'class'> & { label: string }

const { href, label } = Astro.props
---

<li>
  <a href={href} target="_blank" class="block py-2 text-zinc-100 hover:text-amber-400" rel="noopener noreferrer">{label}</a>
</li>
