---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { class: classNames, ...props } = Astro.props
---

<a {...props} class:list={[classNames]} href="/">
  <img class="h-auto w-full" src="/logo.webp" alt="Akos Gerold - Logo" />
</a>
