---
import type { NavigationLinkType } from 'src/types'
import Link from './Link.astro'

import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'> & NavigationLinkType

const { href, label } = Astro.props
---

<li>
  <Link href={href} class="group text-zinc-100 hover:text-amber-400">
    <span class="text-lg tracking-wide xl:text-xl">{label}</span>
  </Link>
</li>
